.sidebar {
  width:24%;
  min-width: 200px;
  max-width: 300px;
  position:sticky;
}
.main-content {
  width:100%;
  max-width: 56em;
  left:30%;
}
.svg-container {
  width:100%;
  height:500px;
  background-color:lightgray;
}
.logo {
  display:inline-block;
  vertical-align: text-top;
  fill: #fff;
}
.title {
  display:inline-block;
  vertical-align: middle;
}
#time-frame > button {
  color:dimgrey;
  background-color:#fff;
}
#time-frame > button[selected] {
  background-color:#0366d6;
  color:#fff;
}
.time-button:hover:not([disabled]) path {
  fill:#0366d6;
}
.time-button[disabled] path {
  fill:lightgray;
}