<main class="main-content settings mt-4 pb-6 mx-auto px-3">
  <div class="flash flash-error">
    <% if(typeof name != 'undefined'){ %>
      <h3><%= name %></h3>
    <% } %>
    <%= message %>
  </div>
</main>