<main class="main-content settings mt-4 pb-6 mx-auto px-3">
<form>
  <dl class="form-group">
    <dt><label for="api-token">Toggl Api Token</label></dt>
    <dd><input class="form-control input-monospace" type="text" placeholder="Toggl Api Token..." id="togglToken" value="<%= apiToken %>"></dd>
  </dl>

  <dl class="form-group">
    <dt><label for="workspace">Workspace</label></dt>
    <dd>
      <select class="form-select" id="workspace">
        <% workspaces.forEach(workspace => { %>
          <option value="<%= workspace.value %>"><%= workspace.name %></option>
        <% }) %>
      </select>
    </dd>
  </dl>

</form>
<button id="settings-save" class="btn mt-4" >Submit</button>
</main>