<main class="main-content settings mt-4 pb-6 mx-auto px-3">
<form>
  <dl class="form-group">
    <dt><label for="api-token">Toggl Api Token</label></dt>
    <dd><input class="form-control input-monospace" type="text" placeholder="Toggl Api Token..." id="api-token"></dd>
  </dl>

  <dl class="form-group">
    <dt><label for="workspace">Workspace</label></dt>
    <dd>
      <select class="form-select" id="workspace" disabled>
        <option></option>
        <option>Work</option>
        <option>Home</option>
      </select>
    </dd>
  </dl>

</form>
<button class="btn mt-4" >Submit</button>
</main>