<div class="bg-gray-dark" style="position:-webkit-sticky;position:sticky;top:0;left:0;right:0;z-index:101;">
  <div class="main-nav d-flex flex-justify-between px-3 pl-md-4 pr-md-4 py-3 box-shadow bg-gray-dark">
    <div class="flex-self-center flex-lg-auto mr-lg-2">
      <svg class="logo" height="28" viewbox="0 0 190 220">
        <polygon points="95.3,195.8 20.9,152.9 20.9,67.1 95.3,24.2 152.7,57.3 173.7,45.3 95.3,0 0,55 0,165 
        95.3,220 190.5,165 190.5,140.9 169.6,152.9 	" />
        <polygon points="37.3,118.3 37.3,141.9 95.3,175.9 189.9,120.6 189.9,97.3 95.3,152.3 	" />
        <polygon points="37.3,75.9 37.3,99.6 95.3,133.6 189.9,78.3 189.9,54.9 95.3,109.9 	" />
      </svg>
      <span class="h4 title text-white pl-1">Techops Toggl Tracker</span>
    </div>
    <div class="d-none d-lg-flex flex-justify-end">
      <a href="#url" class="text-white px-md-1 px-lg-2">Settings</a>
    </div>
  </div>
</div>