<div class="d-flex flex-wrap flex-lg-nowrap">
  <nav class="sidebar flex-column flex-justify-start overflow-auto border-right pb-4">
    <a class="menu-item selected" href="#url" aria-current="page">Time Tracking</a>
    <a class="menu-item" href="#url">Team Overview</a>
    <a class="menu-item" href="#url">Projects</a>
  </nav>
  <% "week-chart" %>
</div>