<html>
  <head>
    <link href="https://styleguide.github.com/assets/npm/primer.css" rel="stylesheet">
    <link href="https://styleguide.github.com/assets/github/styleguide.css" rel="stylesheet">
    <link href="./style.css" rel="stylesheet">
    <title>Techops Toggle Tracker</title>
  </head>
  <body>
    <% "main-nav" %>
    <% "sidebar" %>
  </body>
</html>