<main class="main-content mt-4 pb-6 mx-auto px-3">
<div class="clearfix border-bottom mb-5">
  <h1 class="float-left f00-light">June 12 - March 2</h1>
  <nav class="float-right d-flex flex-justify-center flex-items-center my-3">
    <div id="forward" class="time-button">
      <svg height="48" width="48" class="octicon octicon-chevron-left d-block mx-auto" viewBox="0 0 8 16" version="1.1" aria-hidden="true"><path fill-rule="evenodd" d="M5.5 3L7 4.5 3.25 8 7 11.5 5.5 13l-5-5 5-5z"></path></svg>
    </div>
    <div id="time-frame" class="BtnGroup mx-4">
      <button class="btn BtnGroup-item btn-outline" type="button" selected>Week</button>
      <button class="btn BtnGroup-item btn-outline" type="button">Month</button>
    </div>
    <div id="forward" class="time-button" disabled>
      <svg height="48" width="48" class="octicon octicon-chevron-right d-block mx-auto" viewBox="0 0 8 16" version="1.1" aria-hidden="true"><path fill-rule="evenodd" d="M7.5 8l-5 5L1 11.5 4.75 8 1 4.5 2.5 3l5 5z"></path></svg>
    </div>
  </nav>
</div>
<div class="svg-container"></div>
<div class="d-flex flex-justify-center flex-items-center mt-6">
  <span class="text-gray" >Viewing data for</span>
  <details class="dropdown details-reset details-overlay d-inline-block">
    <summary class="text-gray p-2 d-inline" aria-haspopup="true">
      Benjamin
      <div class="dropdown-caret"></div>
    </summary>
    <ul class="dropdown-menu dropdown-menu-ne">
      <li><a class="dropdown-item" href="#url">Zach</a></li>
      <li><a class="dropdown-item" href="#url">Daniel</a></li>
      <li><a class="dropdown-item" href="#url">Benjamin</a></li>
    </ul>
  </details>
</div>
</main>